*{
    border: 0;
    padding: 0;
    margin: 0;
}
body{
    background-color: #fff;
    transition: 500s;
    font-family: 'Lato', sans-serif;
}
body:hover{
    background-color: #000;
    transition: 3s;
}
.about{
    background-color: black;
    color: #fff;
    height: 200px;
    width: 100%;
    text-align: center;
}

.about h1{
    padding-top: 30px;
}

.nav-content{
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    margin-top: 50px;
    overflow: hidden;
}
.content-hi{
    height: 900px;
    width: 100%;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #fff;
    transition: 500s;
    
}
.content-hi:hover{
    background-color: #000;
    transition: 2s;
}
.footer{
    height: 190px;
    width: 100%;
    background-color: #ffff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-content .photo-nav{
    height: 100%;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    position: relative;

    
}
.nav-content .photo-nav::before{
    content: '1';
    font-size: 80px ;
    position: absolute;
    align-items: center;
    top: 30%;
    padding-left: 15%;
    color: #fff;
    left: 150px;    
}
.photo-nav img{
    height: 100%;
    width: 100%;
    box-shadow: inset 0 0 1em, 0 0 1em white;
    opacity: 0;
    transition: 500s;
    position: relative;
}
.photo-nav img:hover{
    cursor: pointer;
    box-shadow: inset 0 0 1em, 0 0 1em black;
    height: 100%;
    width: 100%;
    opacity: 1.0;
    transition: 1s;
    
}
.nav-content .content-nav-text1{
    height: 100%;
    width: 30%;
    position: relative;
}
.content-nav-text1::before{
    content: '2';
    font-size: 80px;
    position: absolute;
    align-items: center;
    top: 10%;
    padding-left: 20%;
    color: #000;
    left: 150px;
}
.content-nav-text1 .content-text1-box1{
    width: 100%;
    height: 50%;
    text-align: center;
    background-color: #fff;
    color: #fff;
    transition: 500s;
   
}
.content-nav-text1 .content-text1-box1:hover{
    cursor: pointer;
    background-color: #000;
    color:#fff;
    transition: 1s;
}


.content-nav-text1 .content-text1-box2{
    width: 100%;
    height: 50%;
    background-color: #fff;
    color: #fff;
    transition: 500s;
}
.content-nav-text1 .content-text1-box2:hover{
    width: 100%;
    height: 50%;
    background-color: #000;
    transition: 1s;
    cursor: pointer;
}
.content-nav-text1::after{
    content: '3';
    font-size: 80px;
    position: absolute;
    align-items: center;
    top: 250px;
    padding-left: 20%;
    color: #000;
    left: 150px;
}

.nav-content .content-nav-text2{
    height: 100%;
    width: 30%;
    background-color: #000;
    position: relative;
    transition: 500s;
    border-radius: 20px;
}
.nav-content .content-nav-text2:hover{
    background-color: #fff;
    transition: 1s;
    cursor: pointer;
 
}
.nav-content .content-nav-text2::before{
    content: '4';
    font-size: 80px;
    position: absolute;
    align-items: center;
    top: 130px;
    color: #fff;
    left: 260px;


}
.text-project{
    color: #fff;
    height: 100px;
    margin-top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    
}
 .content-hi-1{
    height: 70%;
    width: 24%;
}
#span{
    height: 350px;
    width: 200px;
    padding-top: 50px;
    background-color: transparent;

}
#span img{
    height: 200px;
    transition: 2s;
}
#span img:hover{
    transition: 2s ease-in-out;
    transform: scale(1.4);
}
#span .figure{
   background-color: transparent;
}
#span p{
    font-size: 28px;
    color: #fff;
    text-align: center;
    padding-top: 45px;
}
.content-hi .figure{
    height: 100%;
    width: 100%;
}
.content-hi .figure img{
    height: 60%;
    width: 100%;
    border-radius: 20px;
}

#span-buscampo{
    height: 50%;
}
#span-buscampo-box .figure-caption{
    margin-top: 80px;
    /* background-color: #fff; */
   
}

.figure figcaption{
    font-size: 30px;
    padding-right: 25%;

}
.figure a{
    text-decoration: none;
    color: #212529bf;
    width: 100%;
    padding-right: 30px;
    color: #fff;
}
.text-end{
    margin-top: 20px;
    height: 100px;
    justify-content: center;
    display: flex;
    align-items: center;
}
.footer .instagram{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.instagram a img{
    height: 100px;
    transition: 1s;
}
.instagram img:hover{
    transform: scale(1.2);
    transition: 2s;
}
.instagram p{
    font-size: 40px;
    padding-left: 40px;
}
.footer .foto-etec{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.footer .aula-ltt{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.aula-ltt p{
    font-size: 35px;
}



