*{
    border: 0;
    padding: 0;
    margin: 0;
}
body{
    background-color: cadetblue;
}
.nav-content{
    height: 300px;
    width: 100%;
    background-color: black;
}
.content-hi{
    height: 400px;
    width: 100%;
    background-color: black;
    margin-top: 30px;
}
.footer{
    height: 190px;
    width: 100%;
    background-color: black;
    margin-top: 10px;
}